/.github/CODEOWNERS @garethpaul
/.github/workflows/ @garethpaul
/Makefile @garethpaul
/build.gradle @garethpaul
/settings.gradle @garethpaul
/Application/build.gradle @garethpaul
/Application/lint.xml @garethpaul
/gradlew @garethpaul
/gradlew.bat @garethpaul
/gradle/wrapper/ @garethpaul
/scripts/ @garethpaul
